<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>Json Box</string>
     <key>CFBundleIdentifier</key>
     <string>net.anhero.JsonBox</string>
     <key>CFBundleVersion</key>
     <string>0.4.3</string>
     <key>DocSetFeedName</key>
     <string>JsonBox</string>
     <key>DocSetPublisherIdentifier</key>
     <string>net.anhero.JsonBox.documentation</string>
     <key>DocSetPublisherName</key>
     <string>AnheroInc.</string>
</dict>
</plist>
